<ion-view view-title="我的购物车" class="myShCart">
    <ion-content scroll="true" scrollbar-y="false">
        <ion-refresher on-refresh="myShCart.doRefresh()"></ion-refresher>
        <div class="header" ng-click="myShCart.allChose()">
            <label for="all">
                <input type="checkbox" id="all" name="allChecked">
                <i></i>
            </label>
            全部
        </div>
        <div class="allGoods">

            <div class="goodsShow" ng-repeat="goods in myShCart.goodsData">
                <label for="selected{{$index}}">
                    <input type="checkbox" name="goodsList" id="selected{{$index}}">
                    <i></i>
                </label>

                    <img ng-src="{{addPrefix(goods.litpic)}}" alt="">
                    <div class="textData">
                        <p class="mainTitle">
                            {{goods.title}}
                        </p>
                        <div>
                            <span>¥{{goods.price}}</span>
                            <span>×{{goods.num}}</span>
                            <i class="deleteIcon" ng-click="myShCart.deleteGoods(goods,$event)"></i>

                        </div>



                </div>


            </div>
        </div>
        <ion-infinite-scroll immediate-check="true" on-infinite="myShCart.loadMore()" ng-if="myShCart.isLoadMore" distance="5%"></ion-infinite-scroll>
    </ion-content>





        <!--<ion-footer-bar class="bar-assertive">-->

        <!--</ion-footer-bar>-->

</ion-view>