<ion-view view-title="home" class="home">


            <ion-header-bar class="bar">

                <div class="header-log">

                </div>
                <label for="search" class="headerSearch">
                    <i class="icon ion-ios-search"></i>
                    <input type="text" id="search" name="goods-info" placeholder="请输入搜索内容">
                </label>


                <i class="headerMenus" ng-click="tabs.slideToggle()"></i>
            </ion-header-bar>
            <ion-content>

                <!--<div class="roundImg"></div>-->
                <mg-slide-box source-array="home.bannerData"></mg-slide-box>
                <div class="mainGoodsList">
                    <div class="goodsTitle">
                        <div></div>
                    </div>
                    <div class="goodsList">
                        <div class="goods" ng-repeat="goods in home.goodsData" ng-click="home.goGoodsDetail($)">
                            <img ng-src="{{'http://114.112.94.166' + goods.goods_introduction}}" alt="">
                            <h2 class="mainTitle">{{goods.goods_name}}</h2>
                            <div class="goodsShop">
                                <p class="goodsPrice">
                                    ¥
                                    <span class="starSpan">{{goods.market_price}}</span>
                                    <span>¥68</span>
                                </p>
                                <div class="goodsStateT" ng-if="false"></div>
                                <div class="goodsStateF" ng-if="true" ng-click="home.openShoppingCart($event)"></div>
                            </div>
                        </div>
                    </div>
                </div>

            </ion-content>
</ion-view>