.appraise .header{
    width: 100%;
    height: 11.6rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    border-bottom: .1rem solid #B3B2B2;
}
.appraise img{
    margin: 1.7rem 2.5rem 0 1.2rem;
    width: 13.3rem;
    height: 8.4rem;
}
.appraise .headCtr{
    align-self: center;
    height: 6.4rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}
.appraise .headCtr{
    font-size: 1.5rem;
    color: #333;
}
.appraise .star{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    
}

.appraise .star li{
    margin-right: 1.2rem;
    width: 2.2rem;
    height: 2.1rem;
    background: url("../../images/comment.png") no-repeat center;
    background-size: contain;
}
.appraise .star li.active{
    background-image: url("../../images/commentfull.png");
}
.appraise .write{
    position: relative;
    padding: 1.2rem;
    width: 100%;
    height: 17.3rem;
}
.appraise textarea{
    padding: .8rem;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    background-color: #eee;

}

.appraise .write span{
    position: absolute;
    right: 1.9rem;
    bottom: 1.9rem;
    font-size: 1.2rem;
    color: #666;
}

.appraise textarea::-webkit-input-placeholder{
    font-size: 1.2rem;
    color: #666;

}

